<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ПЗ РІС{% endblock %}</title>
    <link href="/static/bootstrap-5.2.0-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/static/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <!-- stylesheets from inherited templates -->
    {% block site_css %}
    {% endblock site_css %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">ПЗ РІС <small>Горун І.П., 4142</small></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="me-auto"></ul>
                    <ul class="navbar-nav mb-2 mb-lg-0 text-end">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('query_page') }}">Оновити</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
    <div class="container mt-5">
        {% if error %}
        <div class="row"><div class="col">
            <div class="alert alert-danger" role="alert">
               {{ error }}
            </div>
        </div></div>
        {% endif %}

        <div class="row">
            <div class="col">

{% block content %}

{% endblock %}
            </div>
        </div>
    </div>
    </main>
<script src="/static/bootstrap-5.2.0-dist/js/bootstrap.bundle.min.js"></script>
{% block site_js %}{% endblock site_js %}
</body>
</html>